@flowBorder: #888;
@choiceBorder: #5C5;

.interactive {

  position: relative;

  //escaping - gettingStarted.html
  &.escaping {

    input {
      display: block;
      width: 80%;
      margin: 1em;
      padding: .5em;
      font-family: consolas, monospace;

      &.broken {
        background: #FCC;
      }

      &.fixed {
        background: #CFC;
      }
    }

  }

  //flowcharts - conditionals.html
  &.flowchart {

    .flowbox {
      position: absolute;
      padding: 0 0 .5em 0;
      margin: 0;
      font-weight: bold;
      font-family: consolas, monospace;

      &.start {
        border-bottom: 4px solid @choiceBorder;
      }

      &.end {
        border-top: 4px solid @choiceBorder;
      }
    }

  }

  //housing loop - arrays.html
  &.houses {
    button {
      margin: 1em;
    }

    .highlight {
      background: #DFD;
    }
    .last {
      background: #F8F8F8;
    }

    pre {
      width: 420px;
      float: left;
      padding-right: 0;
      margin: 0;
    }

    .description {
      width: 200px;
      float: right;
    }
  }

}

.blank {
  border: none;
  border-bottom: 1px dashed #888;
  text-align: center;
}

.awesome {
  border: 8px dotted #0F0;
  outline: 8px solid magenta;
}