@flowBorder: #888;
@choiceBorder: #5C5;

.interactive {

  position: relative;

  &.flowchart {

    .flowbox {
      position: absolute;
      border: 5px solid ;
      padding: 4px;
      text-align: center;

      .choice {

      }
    }

  }

}

.blank {
  border: none;
  border-bottom: 1px dashed #888;
  text-align: center;
}