<%= t.include("snippets/head.html", { title: "The Road Ahead" }) %>

<p>
  Congratulations! Having finished this book, you have completed your education in basic JavaScript. You know how to store values in variables and collections, to make decisions using flow control operators, and to write your own functions. You can interact with the page using jQuery, make your own graphics with HTML5's canvas element, and talk to servers without refreshing the page using AJAX. Along the way, we've also touched on a number of crucial programming skills, such as checking into source control, evaluating technical advice, and even writing JavaScript on the server.

<p>
  To be honest, I'm a little jealous: nowadays JavaScript has an extremely warm, vibrant community that's pushing the envelope of what this language--formerly considered a "toy" unsuitable for read development--can do. There's no better time to be an intermediate programmer, able to learn from the web's best practices. What lies ahead of you is an exciting world of new opportunities and fascinating career paths. You're in for great time.

<p>
  That said, it is also a scary experience, to be turned loose on your own and expect to make sense of the JavaScript world's sound and fury. Many of my students are initially confused by their options at this point, but there are a few good places to go from here:

  <ul>

    <li> <i>JavaScript: The Good Parts</i> by Douglas Crockford is the <i>the</i> book for JavaScript programmers to read as they advance their skills from beginner to intermediate. It's not a perfect book--much of its advice is either unfashionable or inefficient in modern browsers--but when it is wrong it is almost always wrong in interesting, mind-bending ways. At only 140 pages, it will be one of the shortest technical books you'll ever read, and simultaneously one of the densest. I highly recommend working through this book a chapter at a time, experimenting with each code sample until you understand it.

    <li> A programmer is only as good as their tools. Luckily, the tools available to us in the browser are some of the best in any language, but that won't help you until you know how to use them to their full advantage. The <a href="http://discover-devtools.codeschool.com/">Discover Devtools</a> lessons will guide you through using Chrome's developer tools, but the lessons carry over equally well to Firefox's dev tools and the Firebug plugin.

    <li> Take some time to read some source code. One of the great joys of open-source development is that it puts good code out where we can puzzle over it and use it to build our own skills. Google developer advocate Paul Irish has a great <a href="http://www.paulirish.com/2010/10-things-i-learned-from-the-jquery-source/">set</a> of <a href="http://www.paulirish.com/2011/11-more-things-i-learned-from-the-jquery-source/">videos</a> detailing techniques he learned by reading the jQuery source. Pick a project that you like and do the same!

  </ul>

<p>
  Finally, and most importantly, the best way to learn JavaScript is to build things. Yes, you will make mistakes. Yes, it will be terrifying, and confusing. But programming is just like any other skill: the only way to get better is to practice, day in and day out. Over time, you'll be surprised by how far you'll get if you just keep pushing forward. I can't wait to see what you're capable of.

<p>
  Thanks for reading!

<p>
  Thomas Wilburn

<%= t.include("snippets/scripts.html") %>
<%= t.include("snippets/foot.html") %>